@import "./reset";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');




body{
  margin: 0 auto;
  max-width: 1920px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  line-height: 1;
  background: #f8f8f8;
}

.page{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}